DB_NAME=''            
DB_USER=''        
DB_PASSWORD=''
DB_HOST='127.0.0.1'
DB_PORT=''
REDIRECT_URI=''
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
DEBUG='True'
CHECK_DOMAIN='False'
AZURE_ACCOUNT_NAME='' 
AZURE_CONTAINER='content' 
AZURE_ACCOUNT_KEY='' 
AZURE_STORAGE_ANZ_CONNECTION_STRING=''
AI_URL='http://localhost:50505'

DB_NAME=''            
DB_USER=''        
DB_PASSWORD=''
DB_HOST='';
DB_PORT=''