DB_NAME="copilot"         
DB_USER="postgres"          
DB_PASSWORD="P@ssw0rD"
DB_HOST="127.0.0.1" 
DB_PORT="5432"

REDIRECT_URI='http://127.0.0.1:8000'
GOOGLE_CLIENT_ID='656205272467-mvcpa7aj0bvb15gnm0h58og506l9egnn.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='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'