DB_NAME='djdb'            
DB_USER='manoj'        
DB_PASSWORD='pwd1234'
DB_HOST='127.0.0.1'
DB_PORT='5432'
REDIRECT_URI='https://localhost:5173/auth'
GOOGLE_CLIENT_ID='656205272467-mvcpa7aj0bvb15gnm0h58og506l9egnn.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='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'
DEBUG='True'
CHECK_DOMAIN='False'
AZURE_ACCOUNT_NAME='stgbcrboqdvs2n4' 
AZURE_CONTAINER='content' 
AZURE_ACCOUNT_KEY='+s4l6vp7Rlz8ZL4glsxhuH+nX9knrDYJ6oRyAT4hBq1fgF7AMy6jyJfInwdHaMFkh68Y6NK419xt+AStl9U7gA==' 